<!doctype html>
<title>A short python quiz</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_miniquiz.css')}}'>
<div>
  <h1>Question #{{num}} of {{ntot}}</h1>

  <div>
<br /> <br />
{{question}}

<h4>
<form id='answerform_python' method='post'  > 
   <p>
   Answer: <br /> <br /> <br />
   <input type='radio' name='answer_python' id="r1" value={{ans1}} /> <label for="r1" style="color:{{ans_color1}};border:2px solid #ccc;border-style: groove;padding: 10px;">{{ans1}}{{anscheck1}}</label> <br /> <br /> <br />
   <input type='radio' name='answer_python' id="r2" value={{ans2}} /> <label for="r2" style="color:{{ans_color2}};border:2px solid #ccc;border-style: groove;padding: 10px;">{{ans2}}{{anscheck2}}</label> <br /> <br /> <br />
   <input type='radio' name='answer_python' id="r3" value={{ans3}} /> <label for="r3" style="color:{{ans_color3}};border:2px solid #ccc;border-style: groove;padding: 10px;">{{ans3}}{{anscheck3}}</label> <br /> <br /> <br />
   <input type='radio' name='answer_python' id="r4" value={{ans4}} /> <label for="r4" style="color:{{ans_color4}};border:2px solid #ccc;border-style: groove;padding: 10px;">{{ans4}}{{anscheck4}}</label> <br /> <br /> <br />   
   </p>

   <p>   
   Tips: <br /> 
   {{descript}}  <br />
   </p>   
   
   <p>
   <input type='submit' value='Check' id="r6" formaction="/checkform_python" />    
   <input type='submit' value='Next' id="r7" formaction="/python" style="color:{{ans_color6}}" />  
   </p>
</form>
</h4>

</div>
</div>